@import url('https://fonts.googleapis.com/css?family=Lato:300');

.mt-1
    margin-top 1em

.login
    margin-top 35vh
    width 30em
    height 15em
    padding 1em 2em
    background-color #EFEFEF
    text-align center
    font-family Lato, Verdana, Tahoma, sans-serif